In [209]:
import requests
import json
import numpy as nmp
import pandas as pd

In [210]:
def get_lat(destination):
    api_key = "AIzaSyD266X3gh1F7ZM-x-adnaid0DLy3Nb1fFc"
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (destination,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                return response_data['results'][0]['geometry']['location']['lat']
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

def get_lng(destination):

    api_key = "AIzaSyD266X3gh1F7ZM-x-adnaid0DLy3Nb1fFc"
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (destination,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                return response_data['results'][0]['geometry']['location']['lng']
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

def get_dist_lng(destination):
    origins = "Tel Aviv, Israel"
    api_key = "AIzaSyD266X3gh1F7ZM-x-adnaid0DLy3Nb1fFc"
    url="https://maps.googleapis.com/maps/api/distancematrix/json?origins=%s&destinations=%s&key=%s" % (origins, destination ,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                distance_value = (response_data['rows'][0]['elements'][0]['distance']['value']) / 1000
                return distance_value
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

def get_dur_lng(destination):
    origins = "Tel Aviv, Israel"
    api_key = "AIzaSyD266X3gh1F7ZM-x-adnaid0DLy3Nb1fFc"
    url="https://maps.googleapis.com/maps/api/distancematrix/json?origins=%s&destinations=%s&key=%s" % (origins, destination ,api_key)
    try:
        response = requests.get(url)
        if not response.status_code == 200:
            print("HTTP error",response.status_code)
        else:
            try:
                response_data = response.json()
                duration_value = (response_data['rows'][0]['elements'][0]['duration']['value']) / 60
                return round(duration_value,2)
            except:
                print("Response not in valid JSON format")
    except:
        print("Something went wrong with requests.get")

In [211]:
with open('dests.txt', 'r') as f:
    for line in f:
        destination = f.readlines()
        get_dist_lng(destination)

df = pd.DataFrame({"Target": destination})
df["Target"] = df["Target"].str.strip()
df["Distance_km"] = df["Target"].apply(get_dist_lng)
df["Duration (min)"] = df["Target"].apply(get_dur_lng)
df["Longitude"] = df["Target"].apply(get_lng)
df["latitude"] = df["Target"].apply(get_lat)

In [212]:
df

      Target  Distance_km  Duration (min)  Longitude   latitude
0  Amsterdam     4532.619         2885.32   4.904139  52.367573
1   Valletta     3792.883         3051.27  14.514100  35.899237
2      Basel     4092.812         2642.38   7.588576  47.559599
3       Doha     2164.477         1358.78  51.531040  25.285447

In [221]:
top_3_furthest = df.sort_values(['Distance_km'], ascending=[False]).head(3)
top_3_furthest

      Target  Distance_km  Duration (min)  Longitude   latitude
0  Amsterdam     4532.619         2885.32   4.904139  52.367573
2      Basel     4092.812         2642.38   7.588576  47.559599
1   Valletta     3792.883         3051.27  14.514100  35.899237